@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  font-family: "Urbanist", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.active {
  position: relative;
}

.active::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 50%;
  padding: 1px;
  left: 0;
  background-color: #fff;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, calc(1280/3)));
  gap: 30px;
}